http_interactions:
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/patent/?q=%7B%22_eq%22%3A%7B%22patent_date%22%3A%222000-01-04%22%7D%7D&f=%5B%22patent_id%22%5D&s=%5B%7B%22patent_id%22%3A%22asc%22%7D%5D&o=%7B%22size%22%3A100%7D
  response:
    status: 200
    headers:
      Allow: GET, POST, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"error":false,"count":100,"total_hits":3001,"patents":[{"patent_id":"6009555","cpc_current":[{"cpc_sequence":0,"cpc_class":"https://search.patentsview.org:80/api/v1/cpc_class/A42/","cpc_class_id":"A42","cpc_subclass":"https://search.patentsview.org:80/api/v1/cpc_subclass/A42B/","cpc_subclass_id":"A42B","cpc_group":"https://search.patentsview.org:80/api/v1/cpc_group/A42B1:247/","cpc_group_id":"A42B1/247"},{"cpc_sequence":1,"cpc_class":"https://search.patentsview.org:80/api/v1/cpc_class/A42/","cpc_class_id":"A42","cpc_subclass":"https://search.patentsview.org:80/api/v1/cpc_subclass/A42B/","cpc_subclass_id":"A42B","cpc_group":"https://search.patentsview.org:80/api/v1/cpc_group/A42B3:227/","cpc_group_id":"A42B3/227"},{"cpc_sequence":2,"cpc_class":"https://search.patentsview.org:80/api/v1/cpc_class/A61/","cpc_class_id":"A61","cpc_subclass":"https://search.patentsview.org:80/api/v1/cpc_subclass/A61F/","cpc_subclass_id":"A61F","cpc_group":"https://search.patentsview.org:80/api/v1/cpc_group/A61F9:045/","cpc_group_id":"A61F9/045"},{"cpc_sequence":3,"cpc_class":"https://search.patentsview.org:80/api/v1/cpc_class/Y10/","cpc_class_id":"Y10","cpc_subclass":"https://search.patentsview.org:80/api/v1/cpc_subclass/Y10S/","cpc_subclass_id":"Y10S","cpc_group":"https://search.patentsview.org:80/api/v1/cpc_group/Y10S2:11/","cpc_group_id":"Y10S2/11"}],"inventors":[{"inventor":"https://search.patentsview.org:80/api/v1/inventor/fl:le_ln:siprut-1/","inventor_id":"fl:le_ln:siprut-1","inventor_name_first":"Leonard
        Albert","inventor_name_last":"Siprut","inventor_gender_code":"M","inventor_location_id":"1893009c-16c8-11ed-9b5f-1234bde3cd05","inventor_city":"San
        Diego","inventor_state":"CA","inventor_country":"US","inventor_sequence":0}],"uspc_at_issue":[{"uspc_mainclass":"https://search.patentsview.org:80/api/v1/uspc_mainclass/2/","uspc_mainclass_id":"2","uspc_subclass":"https://search.patentsview.org:80/api/v1/uspc_subclass/2:12/","uspc_subclass_id":"2/12","uspc_sequence":0},{"uspc_mainclass":"https://search.patentsview.org:80/api/v1/uspc_mainclass/2/","uspc_mainclass_id":"2","uspc_subclass":"https://search.patentsview.org:80/api/v1/uspc_subclass/2:15/","uspc_subclass_id":"2/15","uspc_sequence":1},{"uspc_mainclass":"https://search.patentsview.org:80/api/v1/uspc_mainclass/2/","uspc_mainclass_id":"2","uspc_subclass":"https://search.patentsview.org:80/api/v1/uspc_subclass/2:171/","uspc_subclass_id":"2/171","uspc_sequence":2},{"uspc_mainclass":"https://search.patentsview.org:80/api/v1/uspc_mainclass/2/","uspc_mainclass_id":"2","uspc_subclass":"https://search.patentsview.org:80/api/v1/uspc_subclass/2:209.3/","uspc_subclass_id":"2/209.3","uspc_sequence":3},{"uspc_mainclass":"https://search.patentsview.org:80/api/v1/uspc_mainclass/2/","uspc_mainclass_id":"2","uspc_subclass":"https://search.patentsview.org:80/api/v1/uspc_subclass/2:DIG11/","uspc_subclass_id":"2/DIG11","uspc_sequence":4}],"wipo":[{"wipo_field":"https://search.patentsview.org:80/api/v1/wipo/13/","wipo_field_id":"13","wipo_sequence":1},{"wipo_field":"https://search.patentsview.org:80/api/v1/wipo/34/","wipo_field_id":"34","wipo_sequence":0}]},{"patent_id":"6009556","cpc_current":[{"cpc_sequence":0,"cpc_class":"https://search.patentsview.org:80/api/v1/cpc_class/A41/","cpc_class_id":"A41","cpc_subclass":"https://search.patentsview.org:80/api/v1/cpc_subclass/A41D/","cpc_subclass_id":"A41D","cpc_group":"https://search.patentsview.org:80/api/v1/cpc_group/A41D7:00/","cpc_group_id":"A41D7/00"}],"inventors":[{"inventor":"https://sea[...]
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/patent/?q=%7B%22_eq%22%3A%7B%22patent_date%22%3A%222000-01-04%22%7D%7D&f=%5B%22patent_id%22%5D&s=%5B%7B%22patent_id%22%3A%22asc%22%7D%5D&o=%7B%22size%22%3A100%2C%22after%22%3A%226009654%22%7D
  response:
    status: 200
    headers:
      Allow: GET, POST, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"error":false,"count":100,"total_hits":3001,"patents":[{"patent_id":"6009655","cpc_current":[...]
