http_interactions:
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/patent/?q=%7B%22_and%22%3A%5B%7B%22_text_phrase%22%3A%7B%22inventors.inventor_name_first%22%3A%22George%22%7D%7D%2C%7B%22_text_phrase%22%3A%7B%22inventors.inventor_name_last%22%3A%22Washington%22%7D%7D%5D%7D&f=%5B%22patent_id%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":12,"total_hits":12,"patents":[{"patent_id":"10568228","assignees":[{"assignee":"https://search.patentsview.org/api/v1/assignee/eb22b522-7bbd-4260-b12c-837bf8cbc498/","assignee_id":"eb22b522-7bbd-4260-b12c-837bf8cbc498","assignee_type":"2","assignee_individual_name_first":null,"assignee_individual_name_last":null,"assignee_organization":"Johnson
        Controls Technology Company","assignee_location_id":"ef027642-16c7-11ed-9b5f-1234bde3cd05","assignee_city":"Auburn
        Hills","assignee_state":"MI","assignee_country":"US","assignee_sequence":0}],"cpc_current":[{"cpc_sequence":0,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/H05/","cpc_class_id":"H05","cpc_subclass":"https://search.patentsview.org/api/v1/cpc_subclass/H05K/","cpc_subclass_id":"H05K","cpc_group":"https://search.patentsview.org/api/v1/cpc_group/H05K7:1474/","cpc_group_id":"H05K7/1474"},{"cpc_sequence":1,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/F24/","cpc_class_id":"F24","cpc_subclass":"https://search.patentsview.org/api/v1/cpc_subclass/F24F/","cpc_subclass_id":"F24F","cpc_group":"https://search.patentsview.org/api/v1/cpc_group/F24F11:70/","cpc_group_id":"F24F11/70"},{"cpc_sequence":2,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/H01/","cpc_class_id":"H01","cpc_subclass":"https://search.patentsview.org/api/v1/cpc_subclass/H01R/","cpc_subclass_id":"H01R","cpc_group":"https://search.patentsview.org/api/v1/cpc_group/H01R12:00/","cpc_group_id":"H01R12/00"},{"cpc_sequence":3,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/H05/","cpc_class_id":"H05","cpc_subclass":"https://search.patentsview.org/api/v1/cpc_subclass/H05K/","cpc_subclass_id":"H05K","cpc_group":"https://search.patentsview.org/api/v1/cpc_group/H05K7:1468/","cpc_group_id":"H05K7/1468"}],"inventors":[{"inventor":"https://search.patentsview.org/api/v1/inventor/fl:mi_ln:suzuki-86/","inventor_id":"fl:mi_ln:suzuki-86","inventor_name_first":"Minoru","inventor_name_last":"Suzuki","inventor_gender_code":"M","inventor_location_id":"a5099303-16c8-11ed-9b5f-1234bde3cd05","inventor_city":"Milwaukee","inventor_state":"WI","inventor_country":"US","inventor_sequence":3},{"inventor":"https://search.patentsview.org/api/v1/inventor/fl:ma_ln:malcolm-2/","inventor_id":"fl:ma_ln:malcolm-2","inventor_name_first":"Matthew
        F.","inventor_name_last":"Malcolm","inventor_gender_code":"M","inventor_location_id":"e8c44888-16c7-11ed-9b5f-1234bde3cd05","inventor_city":"Brookfield","inventor_state":"WI","inventor_country":"US","inventor_sequence":4},{"inventor":"https://search.patentsview.org/api/v1/inventor/fl:st_ln:gallo-3/","inventor_id":"fl:st_ln:gallo-3","invento[...]
