http_interactions:
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/patent/?q=%7B%22patent_date%22%3A%222007-03-06%22%7D&f=%5B%22patent_id%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      Allow: GET, POST, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"error":false,"count":1000,"total_hits":3398,"patents":[{"patent_id":"7185370","cpc_current":[{"cpc_sequence":0,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/A41/","cpc_class_id":"A41","cpc_subclass":"https://search.patentsview.org/api/v1/cpc_subclass/A41B/","cpc_subclass_id":"A41B","cpc_group":"https://search.patentsview.org/api/v1/cpc_group/A41B13:10/","cpc_group_id":"A41B13/10"}],"inventors":[{"inventor":"https://search.patentsview.org/api/v1/inventor/fl:pa_ln:greear-1/","inventor_id":"fl:pa_ln:greear-1","inventor_name_first":"Patricia","inventor_name_last":"Greear","inventor_gender_code":"F","inventor_location_id":"99a9a88c-16c8-11ed-9b5f-1234bde3cd05","inventor_city":"Baltimore","inventor_state":"MD","inventor_country":"US","inventor_sequence":1},{"inventor":"https://search.patentsview.org/api/v1/inventor/fl:to_ln:greearastaud-2/","inventor_id":"fl:to_ln:greearastaud-2","inventor_name_first":"Tonya
        L.","inventor_name_last":"Greear-Astaud","inventor_gender_code":"F","inventor_location_id":"99a9a88c-16c8-11ed-9b5f-1234bde3cd05","inventor_city":"Baltimore","inventor_state":"MD","inventor_country":"US","inventor_sequence":0}],"uspc_at_issue":[{"uspc_mainclass":"https://search.patentsview.org/api/v1/uspc_mainclass/2/","uspc_mainclass_id":"2","uspc_subclass":"https://search.patentsview.org/api/v1/uspc_subclass/2:491/","uspc_subclass_id":"2/491","uspc_sequence":0},{"uspc_mainclass":"https://search.patentsview.org/api/v1/uspc_mainclass/2/","uspc_mainclass_id":"2","uspc_subclass":"https://search.patentsview.org/api/v1/uspc_subclass/2:52/","uspc_subclass_id":"2/52","uspc_sequence":1}],"wipo":[{"wipo_field":"https://search.patentsview.org/api/v1/wipo/34/","wipo_field_id":"34","wipo_sequence":0}]},{"patent_id":"7185371","cpc_current":[{"cpc_sequence":0,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/A42/","cpc_class_id":"A42","cpc_subclass":"https://search.patentsview.org/api/v1/cpc_subclass/A42B/","cpc_subclass_id":"A42B","cpc_group":"https://search.patentsview.org/api/v1/cpc_group/A42B1:0182/","cpc_group_id":"A42B1/0182"},{"cpc_sequence":1,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/A42/","cpc_class_id":"A42","cpc_subclass":"https://search.patentsview.[...]
