http_interactions:
- request:
    method: POST
    uri: https://search.patentsview.org/api/v1/patent/
    body:
      string: '{"q":{"patent_id":"5116621"},"f":["assignees","patent_id"],"o":{"size":1000}}'
  response:
    status: 200
    headers:
      Allow: GET, POST, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"patents":[{"patent_id":"5116621","assignees":[{"assignee":"https://search.patentsview.org/api/v1/assignee/63de0123-5840-448f-b4e5-b419bdae6338/","assignee_id":"63de0123-5840-448f-b4e5-b419bdae6338","assignee_type":"3","assignee_individual_name_first":null,"assignee_individual_name_last":null,"assignee_organization":"TEIKOKU
        SEIYAKU CO., LTD.","assignee_location_id":"2202427a-16c8-11ed-9b5f-1234bde3cd05","assignee_city":"Samukawa","assignee_state":null,"assignee_country":"JP","assignee_sequence":1},{"assignee":"https://search.patentsview.org/api/v1/assignee/80283550-882d-4a91-a622-7ef8c0c98986/","assignee_id":"80283550-882d-4a91-a622-7ef8c0c98986","assignee_type":"3","assignee_individual_name_first":null,"assignee_individual_name_last":null,"assignee_organization":"Lederle
        (Japan), Ltd.","assignee_location_id":"42f90495-16c8-11ed-9b5f-1234bde3cd05","assignee_city":"Tokyo","assignee_state":null,"assignee_country":"JP","assignee_sequence":0}],"cpc_current":[{"cpc_sequence":0,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/A61/","cpc_class_id":"A61","cpc_subclass":"https://search.patentsview.org/api/v1/cpc_subclass/A61K/","cpc_subclass_id":"A61K","cpc_group":"https://search.patentsview.org/api/v1/cpc_group/A61K9:7061/","cpc_group_id":"A61K9/7061"},{"cpc_sequence":1,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/A61/","cpc_class_id":"A61","cpc_subclass":"https://search.patentsview.org/api/v1/cpc_subclass/A61K/","cpc_subclass_id":"A61K","cpc_group":"https://search.patentsview.org/api/v1/cpc_group/A61K9:0014/","cpc_group_id":"A61K9/0014"},{"cpc_sequence":2,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/A61/","cpc_class_id":"A61","cpc_subclass":"https://search.patentsview.org/api/v1/cpc_subclass/A61K/[...]
