http_interactions:
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/cpc_group/G01S7:4811/
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"cpc_groups":[{"cpc_group_id":"G01S7/4811","cpc_group_title":"Details
        of systems according to groups G01S13/00, G01S15/00, G01S17/00-of systems
        according to group G01S17/00-Constructional features, e.g. arrangements of
        optical elements-common to transmitter and receiver","cpc_class_id":"G01","cpc_class":"https://search.patentsview.org:80/api/v1/cpc_class/G01/","cpc_subclass_id":"G01S","cpc_subclass":"https://search.patentsview.org:80/api/v1/cpc_subclass/G01S/"}]}'
  recorded_at: 2025-12-13 16:26:39
recorded_with: VCR-vcr/2.0.0
