http_interactions:
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/assignee/?q=%7B%22_neq%22%3A%7B%22assignee_id%22%3A%22%22%7D%7D&f=%5B%22assignee_first_seen_date%22%2C%22assignee_id%22%2C%22assignee_individual_name_first%22%2C%22assignee_individual_name_last%22%2C%22assignee_last_seen_date%22%2C%22assignee_lastknown_city%22%2C%22assignee_lastknown_country%22%2C%22assignee_lastknown_latitude%22%2C%22assignee_lastknown_location%22%2C%22assignee_lastknown_longitude%22%2C%22assignee_lastknown_state%22%2C%22assignee_num_inventors%22%2C%22assignee_num_patents%22%2C%22assignee_organization%22%2C%22assignee_type%22%2C%22assignee_years_active%22%5D&s=%5B%7B%22assignee_lastknown_latitude%22%3A%22desc%22%7D%5D&o=%7B%22size%22%3A100%7D
  response:
    status: 200
    headers:
      Allow: GET, POST, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"error":false,"count":100,"total_hits":567568,"assignees":[{"assignee_id":"3417be6d-a34d-4f9b-91f3-ef52dcf30d88","assignee_individual_name_first":null,"assignee_individual_name_last":null,"assignee_organization":"National
        Oilwell Varco Norway AS","assignee_type":"3","assignee_lastknown_city":null,"assignee_lastknown_state":null,"assignee_lastknown_country":"NO","assignee_lastknown_latitude":78.5124,"assignee_lastknown_longitude":16.6056,"assignee_lastknown_location":"https://search.patentsview.org/api/v1/location/51d84cb7-2f00-11ed-aea8-1234bde3cd05/","assignee_first_seen_date":"2012-10-30","assignee_last_seen_date":"2025-01-07","assignee_num_inventors":65,"assignee_num_patents":56,"assignee_years_active":12,"assignee_years":[{"year":2012,"num_patents":1},{"year":2013,"num_patents":2},{"year":2014,"num_patents":2},{"year":2015,"num_patents":4},{"year":2016,"num_patents":6},{"year":2017,"num_patents":4},{"year":2018,"num_patents":3},{"year":2019,"num_patents":10},{"year":2020,"num_patents":9},{"year":2021,"num_patents":2},{"year":2022,"num_patents":9},{"year":2023,"num_patents":2},{"year":2024,"num_patents":1},{"year":2025,"num_patents":1}]},{"assignee_id":"1edc45f7-9747-4b7f-896e-62af24732f68","assignee_individual_name_first":null,"assignee_in[...]
