http_interactions:
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/assignee/?q=%7B%22_text_phrase%22%3A%7B%22assignee_individual_name_last%22%3A+%22Clinton%22%7D%7D&f=%5B%22assignee_years%22%2C%22assignee_first_seen_date%22%2C%22assignee_id%22%2C%22assignee_individual_name_first%22%2C%22assignee_individual_name_last%22%2C%22assignee_last_seen_date%22%2C%22assignee_lastknown_city%22%2C%22assignee_lastknown_country%22%2C%22assignee_lastknown_latitude%22%2C%22assignee_lastknown_location%22%2C%22assignee_lastknown_longitude%22%2C%22assignee_lastknown_state%22%2C%22assignee_num_inventors%22%2C%22assignee_num_patents%22%2C%22assignee_organization%22%2C%22assignee_type%22%2C%22assignee_years_active%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":3,"total_hits":3,"assignees":[{"assignee_id":"1c3849ef-f61b-4aab-98ca-3e1f2dcd9b7a","assignee_individual_name_first":"William
        D.","assignee_individual_name_last":"Clinton","assignee_organization":null,"assignee_type":"4","assignee_lastknown_city":"Glenside","assignee_lastknown_state":"PA","assignee_lastknown_country":"US","assignee_lastknown_latitude":40.1023,"assignee_lastknown_longitude":-75.1521,"assignee_lastknown_location":"https://search.patentsview.org/api/v1/location/ff7c3805-16c7-11ed-9b5f-1234bde3cd05/","assignee_first_seen_date":"1986-06-10","assignee_last_seen_date":"1986-06-10","assignee_num_inventors":2,"assignee_num_patents":1,"assignee_years_active":1,"assignee_years":[{"year":1986,"num_patents":1}]},{"assignee_id":"41ed1441-5445-414d-800b-4d379b21e229","assignee_individual_name_first":"Daniel
        J.","assignee_individual_name_last":"Clinton","assignee_organization":null,"assignee_type":"4","assignee_lastknown_city":"West
        Hollywood","assignee_lastknown_state":"CA","assignee_lastknown_country":"US","assignee_lastknown_latitude":34.0923,"assignee_lastknown_longitude":-118.369,"assignee_lastknown_location":"https://search.patentsview.org/api/v1/location/c6927b67-16c7-11ed-9b5f-1234bde3cd05/","assignee_first_seen_date":"1977-08-30","assignee_last_seen_date":"1978-10-24","assignee_num_inventors":1,"assignee_num_patents":2,"assignee_years_active":1,"assignee_years":[{"year":1977,"num_patents":1},{"year":1978,"num_patents":1}]},{"assignee_id":"dc0a7ba9-b0ac-458f-ad88-9898a8b68158","assignee_individual_name_first":"Joseph
        De Witt","assignee_individual_name_last":"Clinton","assignee_organization":null,"assignee_type":"4","assignee_lastknown_city":"West
        Chester","assignee_lastknown_state":"PA","assignee_lastknown_country":"US","assignee_lastknown_latitude":39.9597,"assignee_lastknown_longitude":-75.606,"assignee_lastknown_location":"https://search.patentsview.org/api/v1/location/4a5fece3-16c8-11ed-9b5f-1234bde3cd05/","assignee_first_seen_date":"2004-03-23","assignee_last_seen_date":"2004-03-23","assignee_num_inventors":1,"assignee_num_patents":1,"assignee_years_active":1,"assignee_years":[{"year":2004,"num_patents":1}]}]}'
  recorded_at: 2026-01-07 13:52:08
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/cpc_class/?q=%7B%22cpc_class_id%22%3A+%22A01%22%7D&f=%5B%22cpc_class_first_seen_date%22%2C%22cpc_class_id%22%2C%22cpc_class_last_seen_date%22%2C%22cpc_class_num_assignees%22%2C%22cpc_class_num_inventors%22%2C%22cpc_class_num_patents%22%2C%22cpc_class_title%22%2C%22cpc_class_years_active%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"cpc_classes":[{"cpc_class_id":"A01","cpc_class_title":"Agriculture;
        forestry; animal husbandry; hunting; trapping; fishing","cpc_class_first_seen_date":"1976-01-06","cpc_class_last_seen_date":"2025-09-30","cpc_class_years_active":50,"cpc_class_num_patents":167244,"cpc_class_num_assignees":25854,"cpc_class_num_inventors":148235}]}'
  recorded_at: 2026-01-07 13:52:08
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/cpc_group/?q=%7B%22cpc_group_id%22%3A+%22A01B1%2F00%22%7D&f=%5B%22cpc_class%22%2C%22cpc_class_id%22%2C%22cpc_group_id%22%2C%22cpc_group_title%22%2C%22cpc_subclass%22%2C%22cpc_subclass_id%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"cpc_groups":[{"cpc_group_id":"A01B1/00","cpc_group_title":"Hand
        tools","cpc_class_id":"A01","cpc_class":"https://search.patentsview.org/api/v1/cpc_class/A01/","cpc_subclass_id":"A01B","cpc_subclass":"https://search.patentsview.org/api/v1/cpc_subclass/A01B/"}]}'
  recorded_at: 2026-01-07 13:52:09
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/cpc_subclass/?q=%7B%22cpc_subclass_id%22%3A+%22A01B%22%7D&f=%5B%22cpc_class%22%2C%22cpc_class_id%22%2C%22cpc_subclass_first_seen_date%22%2C%22cpc_subclass_id%22%2C%22cpc_subclass_last_seen_date%22%2C%22cpc_subclass_num_assignees%22%2C%22cpc_subclass_num_inventors%22%2C%22cpc_subclass_num_patents%22%2C%22cpc_subclass_title%22%2C%22cpc_subclass_years_active%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"cpc_subclasses":[{"cpc_subclass_id":"A01B","cpc_subclass_title":"Soil
        working in agriculture or forestry; parts, details, or accessories of agricultural
        machines or implements, in general","cpc_class_id":"A01","cpc_class":"https://search.patentsview.org/api/v1/cpc_class/A01/","cpc_subclass_first_seen_date":"1976-01-06","cpc_subclass_last_seen_date":"2025-09-30","cpc_subclass_years_active":50,"cpc_subclass_num_patents":10722,"cpc_subclass_num_assignees":1826,"cpc_subclass_num_inventors":10756}]}'
  recorded_at: 2026-01-07 13:52:09
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/g_brf_sum_text/?q=%7B%22patent_id%22%3A+%22PP36776%22%7D&f=%5B%22patent_id%22%2C%22summary_text%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"g_brf_sum_texts":[{"patent_id":"PP36776","summary_text":"Botanical
        designation:Rosa hybrida.\n\nVariety denomination: ‘Poulvic011’.\n\nThis application
        claims priority to Plant Breeder''s Rights Application Number 2023/1984, which
        was filed at the Community Plant Variety Rights Office in the European Union
        on Sep. 22, 2023, the contents of which are hereby incorporated by reference
        for all purposes.\n\nSUMMARY OF THE INVENTION\n\nThe present invention constitutes
        a new and distinct variety of rose plant which originated from a contro[...]
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/g_claim/?q=%7B%22patent_id%22%3A+%22PP36776%22%7D&f=%5B%22claim_dependent%22%2C%22claim_number%22%2C%22claim_sequence%22%2C%22claim_text%22%2C%22exemplary%22%2C%22patent_id%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"g_claims":[{"patent_id":"PP36776","claim_number":"00001","claim_dependent":null,"claim_text":"1.
        A new and distinct variety of rose plant named ‘Poulvic011’ substantially
        as described and illustrated herein.","claim_sequence":0,"exemplary":"0"}]}'
  recorded_at: 2026-01-07 13:52:09
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/g_detail_desc_text/?q=%7B%22patent_id%22%3A+%22PP36776%22%7D&f=%5B%22description_length%22%2C%22description_text%22%2C%22patent_id%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"g_detail_desc_texts":[{"patent_id":"PP36776","description_text":"DETAILED
        DESCRIPTION OF THE VARIETY\n\nThe following is a description of ‘Poulvic011’,
        as observed in its growth in an indoor glasshouse nursery in Odense Denmark.
        Observed plants are 5 months of age, and were grown on their own roots in
        19 cm pots. Color references are made using The Royal Horticultural Society
        (London, England) Colour Chart, 2001, except where common terms of color are
        used.\n\nFor a comparison, several physical characteristics [...]
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/g_draw_desc_text/?q=%7B%22patent_id%22%3A+%22PP36776%22%7D&f=%5B%22draw_desc_sequence%22%2C%22draw_desc_text%22%2C%22patent_id%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":4,"total_hits":4,"g_draw_desc_texts":[{"patent_id":"PP36776","draw_desc_text":"DESCRIPTION
        OF THE DRAWING","draw_desc_sequence":1},{"patent_id":"PP36776","draw_desc_text":"The
        accompanying color illustrations show as true as is reasonably possible to
        obtain in color photographs of this type, the typical characteristics of the
        buds, flowers, leaves, and stems, of ‘Poulvic011’.","draw_desc_sequence":2},{"patent_id":"PP36776","draw_desc_text":"FIG.
        1 of the drawings are two open flowers of different stages viewed from above,
        flower buds at various stages of opening, flower petals detached revealing
        reproductive flower parts, and sepals detached showing receptacle.","draw_desc_sequence":3},{"patent_id":"PP36776","draw_desc_text":"FIG.
        2 of the drawings are a cluster of flowers and flower buds on a branch, bare
        stem showing prickles, mature leaf, and juvenile growth exhibiting anthocyanin.
        Plants shown are 5 months old.","draw_desc_sequence":4}]}'
  recorded_at: 2026-01-07 13:52:09
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/inventor/?q=%7B%22_text_phrase%22%3A%7B%22inventor_name_last%22%3A%22Clinton%22%7D%7D&f=%5B%22inventor_years%22%2C%22inventor_first_seen_date%22%2C%22inventor_gender_code%22%2C%22inventor_id%22%2C%22inventor_last_seen_date%22%2C%22inventor_lastknown_city%22%2C%22inventor_lastknown_country%22%2C%22inventor_lastknown_latitude%22%2C%22inventor_lastknown_location%22%2C%22inventor_lastknown_longitude%22%2C%22inventor_lastknown_state%22%2C%22inventor_name_first%22%2C%22inventor_name_last%22%2C%22inventor_num_assignees%22%2C%22inventor_num_patents%22%2C%22inventor_years_active%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":82,"total_hits":82,"inventors":[{"inventor_id":"6ul0csox4pdmp98zrfry2k63e","inventor_name_first":"Richard
        H.","inventor_name_last":"Clinton","inventor_gender_code":"M","inventor_lastknown_city":"Belmont","inventor_lastknown_state":"CA","inventor_lastknown_country":"US","inventor_lastknown_latitude":37.5165,"inventor_lastknown_longitude":-122.294,"inventor_lastknown_location":"https://search.patentsview.org/api/v1/location/c6c58bd8-16c7-11ed-9b5f-1234bde3cd05/","inventor_num_patents":1,"inventor_num_assignees":1,"inventor_first_seen_date":"1983-08-02","inventor_last_seen_date":"1983-08-02","inventor_years_active":1.0,"inventor_years":[{"year":1983,"num_patents":1}]},{"inventor_id":"9bl4xhi3q3u5urn1tbaer7jfh","inventor_name_first":"Scott
        R.","inventor_name_last":"Clinton","inventor_gender_code":"M","inventor_lastknown_city":"West
        Palm Beach","inventor_lastknown_state":"FL","inventor_lastknown_country":"US","inventor_lastknown_latitude":26.7154,"inventor_lastknown_longitude":-80.0533,"inventor_lastknown_location":"https://search.patentsview.org/api/v1/location/f4007c5e-16c7-11ed-9b5f-1234bde3cd05/","inventor_nu[...]
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/ipc/?q=%7B%22ipc_id%22%3A+%221%22%7D&f=%5B%22ipc_class%22%2C%22ipc_id%22%2C%22ipc_section%22%2C%22ipc_subclass%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      content-type: application/json
      allow: GET, POST, HEAD, OPTIONS
    body:
      string: '{"error":false,"count":1,"total_hits":1,"ipcr":[{"ipc_id":"1","ipc_section":"?","ipc_class":"02","ipc_subclass":"G"}]}'
  recorded_at: 2026-01-07 13:52:10
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/location/?q=%7B%22location_name%22%3A%22Chicago%22%7D&f=%5B%22location_country%22%2C%22location_county%22%2C%22location_county_fips%22%2C%22location_id%22%2C%22location_latitude%22%2C%22location_longitude%22%2C%22location_name%22%2C%22location_num_assignees%22%2C%22location_num_inventors%22%2C%22location_num_patents%22%2C%22location_place_type%22%2C%22location_state%22%2C%22location_state_fips%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"locations":[{"location_id":"e1c05366-16c7-11ed-9b5f-1234bde3cd05","location_name":"Chicago","location_county":"Cook","location_county_fips":"031","location_state":"IL","location_state_fips":"17","location_country":"US","location_place_type":"e1c05366-16c7-11ed-9b5f-1234bde3cd05","location_latitude":41.8756,"location_longitude":-87.6244,"location_num_assignees":3522,"location_num_patents":93860,"location_num_inventors":19459}]}'
  recorded_at: 2026-01-07 13:52:10
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/patent/?q=%7B%22patent_id%22%3A%225116621%22%7D&f=%5B%22applicants%22%2C%22application%22%2C%22assignees%22%2C%22attorneys%22%2C%22botanic%22%2C%22cpc_at_issue%22%2C%22cpc_current%22%2C%22examiners%22%2C%22figures%22%2C%22foreign_priority%22%2C%22gov_interest_contract_award_numbers%22%2C%22gov_interest_organizations%22%2C%22granted_pregrant_crosswalk%22%2C%22inventors%22%2C%22ipcr%22%2C%22gov_interest_statement%22%2C%22patent_abstract%22%2C%22patent_cpc_current_group_average_patent_processing_days%22%2C%22patent_date%22%2C%22patent_detail_desc_length%22%2C%22patent_earliest_application_date%22%2C%22patent_id%22%2C%22patent_num_foreign_documents_cited%22%2C%22patent_num_times_cited_by_us_patents%22%2C%22patent_num_total_documents_cited%22%2C%22patent_num_us_applications_cited%22%2C%22patent_num_us_patents_cited%22%2C%22patent_processing_days%22%2C%22patent_term_extension%22%2C%22patent_title%22%2C%22patent_type%22%2C%22patent_uspc_current_mainclass_average_patent_processing_days%22%2C%22patent_year%22%2C%22wipo_kind%22%2C%22withdrawn%22%2C%22pct_data%22%2C%22us_related_documents%22%2C%22us_term_of_grant%22%2C%22uspc_at_issue%22%2C%22wipo%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"patents":[{"patent_id":"5116621","patent_title":"Anti-inflammatory
        analgesic patch","patent_type":"utility","patent_date":"1992-05-26","patent_year":1992,"patent_abstract":"An
        anti-inflammatory analgesic patch having a drug reservoir layer comprising
        4-biphenylylacetic acid as the effective ingredient, a homo- and/or co-polymer
        of acrylic acid and ordinary adjuvants such as a shape-retaining agent, humectant,
        thickener, etc., which is characterized in that said drug reservoir further
        contains crotamiton and pH of the drug reservoir is adjusted within a range
        of 6 to 8 with a water-soluble organic amine and an organic acid.","patent_cpc_current_group_average_patent_processing_days":771,"withdrawn":false,"patent_detail_desc_length":11598,"patent_earliest_application_date":"1990-12-24","patent_num_foreign_documents_cited":3,"patent_num_times_cited_by_us_patents":34,"patent_num_total_documents_cited":9,"patent_num_us_applications_cited":0,"patent_num_us_patents_cited":6,"patent_processing_days":519,"patent_term_extension":null,"gov_interest_statement":null,"patent_uspc_current_mainclass_average_patent_processing_days":820,"wipo_kind":"A","application":[{"application_id":"07/633146","application_type":"07","filing_date":"1990-12-24","series_code":"07","rule_47_flag":true,"filing_type":"07"}],"assignees":[{"assignee":"https://search.patentsview.org/api/v1/assignee/63de0123-5840-448f-b4e5-b419bdae6338/","assignee_id":"63de0123-5840-448f-b4e5-b419bdae6338","assignee_type":"3","assignee_individual_name_first":null,"assignee_individual_name_last":null,"assignee_organization":"TEIKOKU
        SEIYAKU CO., LTD.","assignee_location_id":"2202427a-16c8-11ed-9b5f-1234bde3cd05","assignee_city":"Samukawa","assignee_state":null,"assignee_country":"JP","assignee_sequence":1},{"assignee":"https://search.patentsview.org/api/v1/assignee/80283550-882d-4a91-a622-7ef8c0c98986/","assignee_id":"80283550-882d-4a91-a622-7ef8c0c98986","assignee_type":"3","assignee_individual_name_first":null,"assignee_individual_name_last":null,"assignee_organization":"Lederle
        (Japan), Ltd.","assignee_location_id":"42f90495-16c8-11ed-9b5f-1234bde3cd05","assignee_city":"Tokyo","assignee_state":null,"assignee_country":"JP","assignee_sequence":0}],"attorneys":[{"attorney_id":"da90021e775d9db35e62d10ff29da2ea","attorney_sequence":0,"attorney_name_first":null,"attorney_name_last":null,"attorney_organization":"Wegner,
        Cantor, Mueller & Player"}],"cpc_current":[{"cpc_sequence":0,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/A61/","cpc_class_id":"A61","cpc_subclass":"https://search.patentsview.org/api/v1/cpc_subclass/A61K/","cpc_subclass_id":"A61K","cpc_group":"https://search.patentsview.org/api/v1/cpc_group/A61K9:7061/","cpc_group_id":"A61K9/7061"},{"cpc_sequence":1,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/A61/","cpc_class_id":"A61","cpc_subclass":"https://search.patentsview.org/api/v1/cpc_subclass/A61K/","cpc_subclass_id":"A61K","cpc_group":"https://search.patentsview.org/api/v1/cpc_group/A61K9:0014/","cpc_group_id":"A61K9/0014"},{"cpc_sequence":2,"cpc_class":"https://search.patentsview.org/api/v1/cpc_class/A61/","cpc_class_id":"[...]
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/patent/attorney/?q=%7B%22attorney_id%22%3A%22005dd718f3b829bab9e7e7714b3804a5%22%7D&f=%5B%22attorney_first_seen_date%22%2C%22attorney_id%22%2C%22attorney_last_seen_date%22%2C%22attorney_name_first%22%2C%22attorney_name_last%22%2C%22attorney_num_inventors%22%2C%22attorney_num_patents%22%2C%22attorney_organization%22%2C%22attorney_years_active%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"attorneys":[{"attorney_id":"005dd718f3b829bab9e7e7714b3804a5","attorney_name_first":"Daniel","attorney_name_last":"Smith","attorney_organization":null,"attorney_first_seen_date":"2006-10-31","attorney_last_seen_date":"2006-10-31","attorney_num_inventors":1,"attorney_num_patents":1,"attorney_years_active":1.0}]}'
  recorded_at: 2026-01-07 13:52:11
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/patent/foreign_citation/?q=%7B%22patent_id%22%3A+%2210000001%22%7D&f=%5B%22citation_category%22%2C%22citation_country%22%2C%22citation_date%22%2C%22citation_number%22%2C%22citation_sequence%22%2C%22patent_id%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":4,"total_hits":4,"foreign_citations":[{"patent_id":"10000001","patent":"https://search.patentsview.org/api/v1/patent/10000001/","citation_number":"2013132796","citation_sequence":2,"citation_date":"2013-07-01","citation_category":"cited
        by applicant","citation_country":"JP"},{"patent_id":"10000001","patent":"https://search.patentsview.org/api/v1/patent/10000001/","citation_number":"10-0512595","citation_sequence":3,"citation_date":"2005-09-01","citation_category":"cited
        by applicant","citation_country":"KR"},{"patent_id":"10000001","patent":"https://search.patentsview.org/api/v1/patent/10000001/","citation_number":"3276727","citation_sequence":0,"citation_date":"2002-04-01","citation_category":"cited
        by applicant","citation_country":"JP"},{"patent_id":"10000001","patent":"https://search.patentsview.org/api/v1/patent/10000001/","citation_number":"2009-208412","citation_sequence":1,"citation_date":"2009-09-01","citation_category":"cited
        by applicant","citation_country":"JP"}]}'
  recorded_at: 2026-01-07 13:52:11
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/patent/other_reference/?q=%7B%22patent_id%22%3A+%223930306%22%7D&f=%5B%22patent_id%22%2C%22reference_sequence%22%2C%22reference_text%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      content-type: application/json
      allow: GET, POST, HEAD, OPTIONS
    body:
      string: '{"error":false,"count":1,"total_hits":1,"other_references":[{"patent_id":"3930306","reference_sequence":0,"reference_text":"
        Brazing Manual, published by American Welding Society, Inc., Copyright 1963,
        pp. 39 and 40. "}]}'
  recorded_at: 2026-01-07 13:52:11
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/patent/rel_app_text/?q=%7B%22patent_id%22%3A+%2210000007%22%7D&f=%5B%22patent_id%22%2C%22related_text%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"rel_app_texts":[{"patent_id":"10000007","related_text":"CROSS
        REFERENCE TO RELATED APPLICATION The present application claim priority to
        U.S. Provisional patent application 62/173,730, filed on Jun. 10, 2015, and
        entitled “PEX Expanding Tool,” which is herein incorporated by reference as
        if fully set forth in this description."}]}'
  recorded_at: 2026-01-07 13:52:11
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/patent/us_application_citation/?q=%7B%22patent_id%22%3A+%2210966293%22%7D&f=%5B%22citation_category%22%2C%22citation_date%22%2C%22citation_document_number%22%2C%22citation_name%22%2C%22citation_sequence%22%2C%22citation_wipo_kind%22%2C%22patent_id%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":43,"total_hits":43,"us_application_citations":[{"patent_id":"10966293","patent":"https://search.patentsview.org/api/v1/patent/10966293/","citation_sequence":1,"citation_document_number":"20040027303","citation_wipo_kind":"A1","citation_category":"cited
        by applicant","citation_date":"2004-02-01","citation_name":"Drozd"},{"patent_id":"10966293","patent":"https://search.patentsview.org/api/v1/patent/10966293/","citation_sequence":13,"citation_document_number":"20090283517","citation_wipo_kind":"A1","citation_category":"cited
        by applicant","citation_date":"2009-11-01","citation_name":"Mackay et al."},{"patent_id":"10966293","patent":"https://search.patentsview.org/api/v1/patent/10966293/","citation_sequence":23,"citation_document_number":"20110303102","citation_wipo_kind":"A1","citation_category":[...]
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/patent/us_patent_citation/?q=%7B%22patent_id%22%3A%225116621%22%7D&f=%5B%22citation_category%22%2C%22citation_date%22%2C%22citation_name%22%2C%22citation_patent%22%2C%22citation_patent_id%22%2C%22citation_sequence%22%2C%22citation_wipo_kind%22%2C%22patent_id%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":6,"total_hits":6,"us_patent_citations":[{"patent_id":"5116621","patent":"https://search.patentsview.org/api/v1/patent/5116621/","citation_sequence":3,"citation_patent_id":"4954343","citation_patent":"https://search.patentsview.org/api/v1/patent/4954343/","citation_wipo_kind":null,"citation_category":null,"citation_date":"1990-09-04","citation_name":"Hosaka
        et al."},{"patent_id":"5116621","patent":"https://search.patentsview.org/api/v1/patent/5116621/","citation_sequence":4,"citation_patent_id":"4971799","citation_patent":"https://search.patentsview.org/api/v1/patent/4971799/","citation_wipo_kind":null,"citation_category":null,"citation_date":"1990-11-20","citation_name":"Nakagawa
  [...]
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/pg_brf_sum_text/?q=%7B%22document_number%22%3A+20250212711%7D&f=%5B%22document_number%22%2C%22summary_text%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"pg_brf_sum_texts":[{"document_number":20250212711,"summary_text":"BACKGROUND\n\nTechnical
        Field\n\nThe present invention relates to the field of rolling cages for soil
        preparation. More specifically, the present invention relates to an object
        removal from inside a rolling cage.\n\nDescription of the Related Art\n\nDisking
        is a soil preparation practice that includes deep or shallow soil tillage.
        By using the best soil tillage practices, farmers can ensure well-prepared
        soil structure. [...]
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/pg_claim/?q=%7B%22document_number%22%3A+20250212711%7D&f=%5B%22claim_dependent%22%2C%22claim_number%22%2C%22claim_sequence%22%2C%22claim_text%22%2C%22document_number%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":15,"total_hits":15,"pg_claims":[{"document_number":20250212711,"claim_number":"00001","claim_text":"1
        . A towable rear tool attachment configured for soil clod sizing and firming,
        comprising: at least one rolling cage that rotates when being towed and is
        in contact with a soil surface, the at least one rolling cage includes a pair
        of circular-shaped end plates located at each end of a respective rolling
        cage, and a plurality of structural members arranged spaced apart around a
        circumference of the end plates, forming a cage-like structure, at least one
        of the structural members having a removable section between the end plates.","claim_sequenc[...]
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/pg_detail_desc_text/?q=%7B%22document_number%22%3A+20250107476%7D&f=%5B%22description_length%22%2C%22description_text%22%2C%22document_number%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"pg_detail_desc_texts":[{"document_number":20250107476,"description_text":"Repeat
        use of reference characters in the present specification and drawings is intended
        to represent the same or analogous features or elements of the present technology.\n\nDETAILED
        DESCRIPTION OF THE INVENTION\n\nReference now will be made in detail to embodiments
        of the disclosure, one or more examples of which are illustrated in the drawings.
        Each example is provided by way of explanation of the disc[...]
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/pg_draw_desc_text/?q=%7B%22document_number%22%3A+20250107476%7D&f=%5B%22document_number%22%2C%22draw_desc_sequence%22%2C%22draw_desc_text%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":9,"total_hits":9,"pg_draw_desc_texts":[{"document_number":20250107476,"draw_desc_text":"BRIEF
        DESCRIPTION OF THE DRAWINGS","draw_desc_sequence":1},{"document_number":20250107476,"draw_desc_text":"A
        full and enabling disclosure of the present technology, including the best
        mode thereof, directed to one of ordinary skill in the art, is set forth in
        the specification, which makes reference to the appended figures, in which:","draw_desc_sequence":2},{"document_number":20250107476,"draw_desc_text":"FIG.
  [...]
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/publication/?q=%7B%22document_number%22%3A+20010000002%7D&f=%5B%22assignees%22%2C%22cpc_at_issue%22%2C%22cpc_current%22%2C%22foreign_priority%22%2C%22gov_interest_organizations%22%2C%22granted_pregrant_crosswalk%22%2C%22inventors%22%2C%22ipcr%22%2C%22pct_data%22%2C%22document_number%22%2C%22publication_abstract%22%2C%22publication_date%22%2C%22publication_title%22%2C%22publication_type%22%2C%22publication_year%22%2C%22rule_47_flag%22%2C%22series_code%22%2C%22us_parties%22%2C%22us_related_documents%22%2C%22uspc_at_issue%22%2C%22wipo%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
[...]
