http_interactions:
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/inventor/?q=%7B%22_text_phrase%22%3A%7B%22inventor_name_last%22%3A%22Clinton%22%7D%7D&f=%5B%22inventor_years%22%2C%22inventor_first_seen_date%22%2C%22inventor_gender_code%22%2C%22inventor_id%22%2C%22inventor_last_seen_date%22%2C%22inventor_lastknown_city%22%2C%22inventor_lastknown_country%22%2C%22inventor_lastknown_latitude%22%2C%22inventor_lastknown_location%22%2C%22inventor_lastknown_longitude%22%2C%22inventor_lastknown_state%22%2C%22inventor_name_first%22%2C%22inventor_name_last%22%2C%22inventor_num_assignees%22%2C%22inventor_num_patents%22%2C%22inventor_years_active%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":82,"total_hits":82,"inventors":[{"inventor_id":"6ul0csox4pdmp98zrfry2k63e","inventor_name_first":"Richard
        H.","inventor_name_last":"Clinton","inventor_gender_code":"M","inventor_lastknown_city":"Belmont","inventor_lastknown_state":"CA","inventor_lastknown_country":"US","inventor_lastknown_latitude":37.5165,"inventor_lastknown_longitude":-122.294,"inventor_lastknown_location":"https://search.patentsview.org/api/v1/location/c6c58bd8-16c7-11ed-9b5f-1234bde3cd05/","inventor_num_patents":1,"inventor_num_assignees":1,"inventor_first_seen_date":"1983-08-02","inventor_last_seen_date":"1983-08-02","inventor_years_active":1.0,"inventor_years":[{"year":1983,"num_patents":1}]},{"inventor_id":"9bl4xhi3q3u5urn1tbaer7jfh","inventor_name_first":"Scott
        R.","inventor_name_last":"Clinton","inventor_gender_code":"M","inventor_lastknown_city":"West
        Palm Beach","inventor_lastknown_state":"FL","inventor_lastknown_country":"US","inventor_lastknown_latitude":26.7154,"inventor_lastknown_longitude":-80.0533,"inventor_lastknown_location":"https://search.patentsview.org/api/v1/location/f4007c5e-16c7-11ed-9b5f-1234bde3cd05/","inventor_num_patents":1,"inventor_num_a[...]
