http_interactions:
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/assignee/?q=%7B%22_text_phrase%22%3A%7B%22assignee_individual_name_last%22%3A+%22Clinton%22%7D%7D&f=%5B%22assignee_years%22%2C%22assignee_first_seen_date%22%2C%22assignee_id%22%2C%22assignee_individual_name_first%22%2C%22assignee_individual_name_last%22%2C%22assignee_last_seen_date%22%2C%22assignee_lastknown_city%22%2C%22assignee_lastknown_country%22%2C%22assignee_lastknown_latitude%22%2C%22assignee_lastknown_location%22%2C%22assignee_lastknown_longitude%22%2C%22assignee_lastknown_state%22%2C%22assignee_num_inventors%22%2C%22assignee_num_patents%22%2C%22assignee_organization%22%2C%22assignee_type%22%2C%22assignee_years_active%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/json
    body:
      string: '{"error":false,"count":3,"total_hits":3,"assignees":[{"assignee_id":"1c3849ef-f61b-4aab-98ca-3e1f2dcd9b7a","assignee_individual_name_first":"William
        D.","assignee_individual_name_last":"Clinton","assignee_organization":null,"assignee_type":"4","assignee_lastknown_city":"Glenside","assignee_lastknown_state":"PA","assignee_lastknown_country":"US","assignee_lastknown_latitude":40.1023,"assignee_lastknown_longitude":-75.1521,"assignee_lastknown_location":"https://search.patentsview.org/api/v1/location/ff7c3805-16c7-11ed-9b5f-1234bde3cd05/","assignee_first_seen_date":"1986-06-10","assignee_last_seen_date":"1986-06-10","assignee_num_inventors":2,"assignee_num_patents":1,"assignee_years_active":1,"assignee_years":[{"year":1986,"num_patents":1}]},{"assignee_id":"41ed1441-5445-414d-800b-4d379b21e229","assignee_individual_name_first":"Daniel
        J.","assignee_individual_name_last":"Clinton","assignee_organization":null,"assignee_type":"4","assignee_lastknown_city":"West
        Hollywood","assignee_lastknown_state":"CA","assignee_lastknown_country":"US","assignee_lastknown_latitude":34.0923,"assignee_lastknown_longitude":-118.369,"assignee_lastknown_location":"https://search.patentsview.org/api/v1/location/c6927b67-16c7-11ed-9b5f-1234bde3cd05/","assignee_first_seen_date":"1977-08-30","assignee_last_seen_date":"1978-10-24","assignee_num_inventors":1,"assignee_num_patents":2,"assignee_years_active":1,"assignee_years":[{"year":1977,"num_patents":1},{"year":1978,"num_patents":1}]},{"assignee_id":"dc0a7ba9-b0ac-458f-ad88-9898a8b68158","assignee_individual_name_first":"Joseph
        De Witt","assignee_individual_name_last":"Clinton","assignee_organization":null,"assignee_type":"4","assignee_lastknown_city":"West
        Chester","assignee_lastknown_state":"PA","assignee_lastknown_country":"US","assignee_lastknown_latitude":39.9597,"assignee_lastknown_longitude":-75.606,"assignee_lastknown_location":"https://search.patentsview.org/api/v1/location/4a5fece3-16c8-11ed-9b5f-1234bde3cd05/","assignee_first_seen_date":"2004-03-23","assignee_last_seen_date":"2004-03-23","assignee_num_inventors":1,"assignee_num_patents":1,"assignee_years_active":1,"assignee_years":[{"year":2004,"num_patents":1}]}]}'
  recorded_at: 2026-01-07 13:53:37
recorded_with: VCR-vcr/2.1.0
