http_interactions:
- request:
    method: GET
    uri: https://search.patentsview.org/api/v1/patent/?q=%7B%22patent_id%22%3A%225116621%22%7D&f=%5B%22applicants%22%2C%22application%22%2C%22assignees%22%2C%22attorneys%22%2C%22botanic%22%2C%22cpc_at_issue%22%2C%22cpc_current%22%2C%22examiners%22%2C%22figures%22%2C%22foreign_priority%22%2C%22gov_interest_contract_award_numbers%22%2C%22gov_interest_organizations%22%2C%22granted_pregrant_crosswalk%22%2C%22inventors%22%2C%22ipcr%22%2C%22gov_interest_statement%22%2C%22patent_abstract%22%2C%22patent_cpc_current_group_average_patent_processing_days%22%2C%22patent_date%22%2C%22patent_detail_desc_length%22%2C%22patent_earliest_application_date%22%2C%22patent_id%22%2C%22patent_num_foreign_documents_cited%22%2C%22patent_num_times_cited_by_us_patents%22%2C%22patent_num_total_documents_cited%22%2C%22patent_num_us_applications_cited%22%2C%22patent_num_us_patents_cited%22%2C%22patent_processing_days%22%2C%22patent_term_extension%22%2C%22patent_title%22%2C%22patent_type%22%2C%22patent_uspc_current_mainclass_average_patent_processing_days%22%2C%22patent_year%22%2C%22wipo_kind%22%2C%22withdrawn%22%2C%22pct_data%22%2C%22us_related_documents%22%2C%22us_term_of_grant%22%2C%22uspc_at_issue%22%2C%22wipo%22%5D&s=&o=%7B%22size%22%3A1000%7D
  response:
    status: 200
    headers:
      Allow: GET, POST, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"error":false,"count":1,"total_hits":1,"patents":[{"patent_id":"5116621","patent_title":"Anti-inflammatory
        analgesic patch","patent_type":"utility","patent_date":"1992-05-26","patent_year":1992,"patent_abstract":"An
        anti-inflammatory analgesic patch having a drug reservoir layer comprising
        4-biphenylylacetic acid as the effective ingredient, a homo- and/or co-polymer
        of acrylic acid and ordinary adjuvants such as a shape-retaining agent, humectant,
        thickener, etc., which is characterized in that said drug reservoir further
        contains crotamiton and pH of the drug reservoir is adjusted within a range
        of 6 to 8 with a water-soluble organic amine and an organic acid.","patent_cpc_current_group_average_patent_processing_days":771,"withdrawn":false,"patent_detail_desc_length":11598,"patent_earliest_application_date":"1990-12-24","patent_num_foreign_documents_cited":3,"patent_num_times_cited_by_us_patents":34,"patent_num_total_documents_cited":9,"patent_num_us_applications_cited":0,"patent_num_us_patents_cited":6,"patent_processing_days":519,"patent_term_extension":null,"gov_interest_statement":null,"patent_uspc_current_mainclass_average_patent_processing_days":820,"wipo_kind":"A","application":[{"application_id":"07/633146","application_type":"07","filing_date":"1990-12-24","series_code":"07","rule_47_flag":true,"filing_type":"07"}],"assignees":[{"assignee":"https://search.patentsview.org:80/api/v1/assignee/63de0123-5840-448f-b4e5-b419bdae6338/","assignee_id":"63de0123-5840-448f-b4e5-b419bdae6338","assignee_type":"3","assignee_individual_name_first":null,"assignee_individual_name_last":null,"assignee_organization":"TEIKOKU
        SEIYAKU CO., LTD.","assignee_location_id":"2202427a-16c8-11ed-9b5f-1234bde3cd05","assignee_city":"Samukawa","assignee_state":null,"assignee_country":"JP","assignee_sequence":1},{"assignee":"https://search.patentsview.org:80/api/v1/assignee/80283550-882d-4a91-a622-7ef8c0c98986/","assignee_id":"80283550-882d-4a91-a622-7ef8c0c98986","assignee_type":"3","assignee_individual_name_first":null,"assignee_individual_name_last":null,"assignee_organization":"Lederle
        (Japan), Ltd.","assignee_location_id":"42f90495-16c8-11ed-9b5f-1234bde3cd05","assignee_city":"Tokyo","assignee_state":null,"assignee_country":"JP","assignee_sequence":0}],"attorneys":[{"attorney_id":"da90021e775d9db35e62d10ff29da2ea","attorney_sequence":0,"attorney_name_first":null,"attorney_name_last":null,"attorney_organization":"Wegner,
        Cantor, Mueller & Player"}],"cpc_current":[{"cpc_sequence":0,"cpc_class":"https://search.patentsview.org:80/api/v1/cpc_class/A61/","cpc_class_id":"A61","cpc_subclass":"https://search.patentsview.org:80/api/v1/cpc_subclass/A61K/","cpc_subclass_id":"A61K","cpc_group":"https://search.patentsview.org:80/api/v1/cpc_group/A61K9:7061/","cpc_group_id":"A61K9/7061"},{"cpc_sequence":1,"cpc_class":"https://search.patentsview.org:80/api/v1/cpc_class/A61/","cpc_class_id":"A61","cpc_subclass":"https://search.patentsview.org:80/api/v1/cpc_subclass/A61K/","cpc_subclass_id":"A61K","cpc_group":"https://search.patentsview.org:80/api/v1/cpc_group/A61K9:0014/","cpc_group_id":"A61K9/0014"},{"cpc_sequence":2,"cpc_class":"https://search.patentsview.org:80/api/v1/cpc_class/A61/","cpc_class_id":"A61","cpc_subclass":"https://search.patentsview.org:80/api/v1/cpc[...]
