http_interactions:
- request:
    method: POST
    uri: https://search.patentsview.org/api/v1/patent/
    body:
      string: '{"q":{"_or":[{"_eq":{"patent_id":"9978309"}},{"_eq":{"patent_id":"9978406"}},{"_eq":{"patent_id":"9978509"}}]},"f":["patent_id"],"o":{"size":1000}}'
  response:
    status: 200
    headers:
      content-type: application/json
      allow: GET, POST, HEAD, OPTIONS
    body:
      string: '{"error":false,"count":0,"total_hits":0,"patents":[]}'
  recorded_at: 2026-01-07 13:52:08
recorded_with: VCR-vcr/2.1.0
